# .gitignore

# Terraform files
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform directories
.terraform/
.terraform.lock.hcl

# Sensitive files
# *.tfvars <-- Uncomment if you have sensitive information in the file
*.tfvars.json

# Ignore editor specific files
.vscode/
.idea/